<h1 class="page-header">起源工作室FAQ</h1>		
<div class="panel panel-default">
    <p class="panel-heading">Q. 什么叫做FAQ？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	Frequently Asked Questions。中文翻译一般称为“常见问题解答”，在本页中，会尽量列举一些大家（特别是新人）在工作中经常会遇到的问题，并作出回答。
	如果在本页内容并没有对应的解答或者指导，你可以直接、立刻联系你的主管（一般是工作向的内容）或者工作室的技术支持（一般是技术向或者工具向的内容）。
	本FAQ不使用您作为尊称，统一使用你来指代阅读本页的读者。我们相信在工作室中只有工作内容的区分，并没有其他的等级制度，请你明确这一点。
    <div class="alert alert-info" role="alert">目前的技术支持请联系程序员</div>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 公司一些常规的网站和工具的介绍在哪里？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	<a target="_Blank" href="http://help.tkoffice.cn/xinge.html">竞技世界内部办公文档网站</a>
	<a target="_Blank" href="http://soft.tkoffice.cn/">内部软件站入口</a>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 我刚来到这个工作室，想更加详细的了解这个工作室的构成和历史？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	(请张浩或者昌昊给一份offical说明白皮书）
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 这个工作室目前的项目方向和发展方向是什么？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	（请张浩或者昌昊给一份offical说明白皮书）
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 工作室的负责人是谁？我可以直接向他反映问题吗？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	制作人张浩（当张浩出差或不在时，请联系策划主管姚昌昊）；任何问题都可以直接反映和了解，我们欢迎你加强各个方面的沟通。
    <div class="alert alert-info" role="alert">仅提示不要大声的沟通，有理不在音高</div>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 我刚来到这里，请问如何开展工作？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	请联系你的直接主管，如果他没有交代到你能理解清晰，请直接联系制作人张浩。
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 咱们这里的工作环境是否区分内网和外网？我如果想查阅一些互联网资料怎么办？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	目前在联运事业部，暂时都是内外网都是开通的，所以不会影响你查阅任何东西。不过因为有系统部门的同事会监视网络状况，请不要下载与工作无关的任何内容（特别是非法内容），不但影响网速，一旦被发现更加影响工作室的声誉。
	如果确实有需要分享的视频、游戏资源，在主管同意的情况下，酌情下载。
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 如何使用信鸽和大家交流？给我发的短信我该如何使用和注册？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	一般的，当你入职成功，你会收到人力资源部门同事的注册邀请短信，例如<img class="insideimg" style="width:200px" src="/images/docs/faq/faq1.jpg">。那么您直接点击链接按提示注册和现在手机端应用即可。
	PC电脑端电脑部的同事也会为你预先装好此软件，直接登录即可（最好设置为开机自动登录）。登录后您可以直接查看组织架构（这个层级较深），当然也可能会直接被主管将你拉到合适的工作室群组中。
	你可以自己创建组织架构，并添加需要沟通的成员；你可以发起一组话题（这个话题更像留言板，比较适合集中讨论某件事情），例如<img class="insideimg" style="width:800px;max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq2.png">	
	<div class="alert alert-info" role="alert">更加详细的教程你可以参考公司帮助网站上的内容 <a target="_Blank" href="http://help.tkoffice.cn/xinge.html">信鸽</a> </div>
    <div class="alert alert-warning" role="alert">注意，在信鸽中请尽量只讨论与工作相关的内容。首先任何娱乐八卦私人信息我们有微信、QQ等多种多样的交流手段；其次我们也不能保证系统部门的同事没有监测你聊天的嗜好。当然了，更多非工作的内容应该在非工作时间处理。</div>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 我的主管让我去更新项目，我的账号密码在哪里？SVN安装程序在哪里？项目又在哪里？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	关于SVN的账号密码，请在信鸽中搜索李硕（注意可能有多个李硕，请按按下图选择右边的）获取
	<img class="insideimg" style="max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq3.png">
联系的时候说明你是起源工作室的某某职位即可，他会为你开通正确的权限，之后会发送一封公司邮件给你，用户名和密码都在其中；
	关于SVN的安装程序， <a href="javascript:void(0)">点这里获取</a>
	关于项目地址，请查阅 <a href="javascript:void(0)" onclick="redirectto('projects')">项目主页</a>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 周报的格式是什么样子的？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	请查阅 <a href="javascript:void(0)" onclick="redirectto('docs.report')">周报格式</a>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 我需要一些日常工具，当公司的软件站上并没有合适的，我该怎么办？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	首先你的电脑是可以上网的，也可以插各种移动硬盘、U盘，所以你想要的东西你都可以自己搞定。<ul>但是为了安全性和工作室对于版权这一块做到最小化争议，请尽量参考我下边的提示：
		<li>尽量不要使用任何有版权争议的软件（需要授权的软件一般我们都会花钱获得）</li>
		<li>尽量不要从网上下载软件（会有中毒、木马等风险）</li>
		<li>原则上，有优秀的开源、免费软件是优先使用的</li>
		<li>请参考 <a href="javascript:void(0)" onclick="redirectto('tools')">起源工具下载库</a>， 在这里列举了大部分你可能需要的软件，一些可能还附带有使用说明</li>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 我已经更新了项目，但是有红色的错误，请问怎么办？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	Client代码中有部分代码是权限保护的，因此非开发人员可能没有权限更新，例如如下的错误
        <img class="insideimg" style="max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq4.png">
    此类错误隶属正常，可以不必担心。一般的更详细的内容仍请仔细阅读 <a href="javascript:void(0)" onclick="redirectto('docs.svn')">SVN使用说明</a>
    </p>
</div>
<div class="panel panel-default">
    <p class="panel-heading">Q. 我已经下载了项目，并更新到了最新版，但是运行报错怎么办？
    </p>
    <p class="panel-body" style="white-space: pre-wrap">	首先请查阅 <a href="javascript:void(0)" onclick="redirectto('projects.clientrun')">如何更新并运行客户端程序？</a>，按照上边的提示进行。 如果仍然无法进入游戏，请直接截图将问题发送至起源工作室信鸽群（相信我，不要私聊，让大家都知道客户端并不稳定的问题，有助于以后减少此类问题的发生）求助。
    </p>
</div>