<h1 class="page-header">新手帮助区域</h1>		
<p>    工作室为每个新人准备了工作流程说明、工作方式、所需支持等，当然也欢迎老人随时过来查阅相关不熟悉的内容。
另外本页面也会给出一个FAQ文档对工作日常经常出现的问题提供解答。</p><br/><br/>
<h4 class="sub-header"><a href="javascript:void(0)" onclick="redirectto('docs.faq')">常规FAQ</a><br/></h4>
<h4 class="sub-header"><a href="javascript:void(0)" onclick="redirectto('docs.svn')">Svn使用说明</a><br/></h4>
<h4 class="sub-header"><a href="javascript:void(0)" onclick="redirectto('docs.git')">Git使用说明</a><br/></h4>
<h4 class="sub-header"><a href="javascript:void(0)" onclick="redirectto('tools')">常用软件下载</a><br/></h4>