<h1 class="page-header">工作规范</h1>		

<h3 class="sub-header"><strong>策划部门</strong></h3>
<h3 class="sub-header"><strong>美术部门</strong></h3>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_commit')">资源提交规范</a></li>	
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_model')">模型制作规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_ui')">UI制作规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_scene')">场景制作规范</a></li>	
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_action')">动作制作规范</a></li>	
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_effect')">特效制作规范</a></li>	
	<li><a href="javascript:void(0)" onclick="redirectto('specs.art_heroshow')">HeroShow材质说明</a></li>	
</ul>
<h3 class="sub-header"><strong>程序部门</strong></h3>