<h1 class="page-header">Svn使用说明</h1>		

<h4 class="sub-header"><strong>Svn的下载和安装</strong></h4>
<ul>
	<li>我们推荐你直接使用TortoiseSVN</li>
	<li>你可以直接到官网去下载<a target="_Blank" href="https://tortoisesvn.net/downloads.html">SVN官方网站下载页面</a></li>
	<li>你也可以直接在资源页面下载 <a href="javascript:void(0)" onclick="redirectto('tools')">常用软件下载</a> </li>
	<li>之后双击程序安装在默认路径即可</li>
</ul>

<h4 class="sub-header"><strong>Svn右键菜单</strong></h4>
<ul>
	<li>当你在文件夹空白处或者任意一个未进行svn版本管理的文件夹上点击右键，如下图所示</li>
	<img src="/images/docs/svn/svn1.png" style="max-width:100%"/>
	<li>当你已进行svn版本管理的文件夹点击右键，如下图所示</li>
	<img src="/images/docs/svn/svn2.png" style="max-width:100%"/>
	<div class="alert alert-info" role="alert">
		右键点击文件夹的空白处等同于在此文件夹上点击右键
	</div>
</ul>

<h4 class="sub-header"><strong>Svn右键菜单的指令具体描述</strong></h4>
<ul>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> SVN Checkout(Svn检出)</p>
		<p class="panel-body" style="white-space: pre-wrap">	表示从版本库中下载版本到本地文件夹中并开始进行版本管理
		一般的，用于初始化你的本地文件夹。检出时，如下图所示
		<img src="/images/docs/svn/svn3.png" style="max-width:100%"/>
	点击确定更新后，如下图（这里只是一个演示，他Checkout了Tools/Shells文件夹
		<img src="/images/docs/svn/svn4.png" style="max-width:100%"/>
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> SVN Update(Svn更新)</p>
		<p class="panel-body" style="white-space: pre-wrap">	表示获取最新的版本信息		
		<ul>一般的，用于获取其他同事提交的新内容。更新的时候，如果发生以下几种情况，是会出现Conflict字样的，表示冲突
			<li>你修改的文件，别人也修改了，并且已经提交到版本管理，Svn系统无法确定使用你修改的还是别人修改的，因此报告你冲突信息</li>
			<li>如果你修改了某个文件或者文件夹，但是别人删除了这个文件或者文件夹所在的路径并提交到版本管理，Svn系统认为这是一个Tree Confict</li>
			<li>更加复杂和详细的内容请见本页后边的进阶说明</li>
			<li>在冲突发生的时候，我们一定不能无视，如果处理后面会有详细说明</li>
		</ul>		
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> SVN Commit(Svn提交)</p>
		<p class="panel-body" style="white-space: pre-wrap">	表示将你修改的内容提交到版本管理
	注意提交前请务必Update（更新）到head revision(最新版本)
		<ul>提交的时候会有几种状态
			<li>non versioned：表示此文件是未进行版本管理的，尽管在提交界面可以直接纳入管理，我们仍推荐先使用Svn Add指令</li>
			<li>added：表示是一个新的文件</li>
			<li>modified：表示你修改了这个文件</li>
			<li>deleted：表示你删除了这个文件并取消了版本管理</li>
			<li>missing：表示你删除了这个文件，Svn因此找不到这个文件（也就是你此时Update的话还是将这个文件重新下载回来）</li>
		</ul>
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> Show log(查看日志)</p>
		<p class="panel-body" style="white-space: pre-wrap">	打开日志界面并查看提交记录，此界面大致如下
			<img src="/images/docs/svn/svn5.png" style="max-width:100%"/>
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> Repo-browser(版本库浏览器)</p>
		<p class="panel-body" style="white-space: pre-wrap">	可以直接查看版本库中的文件内容和组织
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> Revert(还原)</p>
		<p class="panel-body" style="white-space: pre-wrap">	无视本地的修改，将所列文件还原成版本库中的文件
	一般的，此命令可以用于解决冲突（当前提是你确认自己的修改是不用提交且无用的）
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> CleanUp(清理)</p>
		<p class="panel-body" style="white-space: pre-wrap">	一般的Svn的操作会锁定本地文件夹，如果中途出现失败（例如同时Update和Commit、或者强行关闭界面），则再次执行Svn指令时会提示请进行清理的操作
	这个操作会清除之前未完成状态的标记
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> Get Lock/Release Lock (获得锁和解除锁)</p>
		<p class="panel-body" style="white-space: pre-wrap">	一些非文本类文件（例如图片、Word文档、Excel文档）提交到SVN时，为了多人编辑不发生冲突，可以设置其属性为需要锁定才能编辑的状态。
	因此需要使用GetLock来锁定这个文件（此时文件属性会显示Locked By somebody），编辑之后可以Commit（自动解除锁定），或者放弃本次编辑并Release Lock释放锁定给别人来编辑
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> Add(添加)</p>
		<p class="panel-body" style="white-space: pre-wrap">	将未进行版本管理的文件添加到版本管理
	这是一个本地标记操作，不会提交到版本库。建议对所有新文件都执行这一步操作（在Commit的时候，如果未列入版本管理的文件夹，子文件夹是不能一次性提交的）
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> Blame(我没中文版，谁能告诉我这玩意翻译成什么？责怪？谴责？)</p>
		<p class="panel-body" style="white-space: pre-wrap">	只有右键点击文件会出现，这是个很有趣的指令，他会直接显示文件内容，然后在每一行的前边都显示了这一行最后的修改者名字
	这对于查看某段代码是谁修改的或者代码的修改记录或者修改意图都有很大的帮助
		</p>
	</li>
	<li class="panel panel-primary">
    	<p class="panel-heading">—> settings(设置)</p>
		<p class="panel-body" style="white-space: pre-wrap">	设置界面中比较有用的是清空你的Svn密码缓存（例如别人的机器？或者你更换了用户名）
	这里的细节我们就忽略了
		</p>
	</li>
</ul>

<h4 class="sub-header"><strong>Svn更新那些事</strong></h4>
<ul>
	<li>假设你是个乖宝宝，从来都不修改任何文件，你只需拿到别人提交的内容，你是很难有机会看到merge状态和confict状态的</li>
	<li>但是Unity并不乖，他会偷偷修改、生成例如叫<code>.meta</code>的文件，因此有时候你会发现这种文件类型发生冲突而不知所措</li>
	<li>当然如果有其他的文件你修改过，也可能会发生冲突的事情</li>
	<img class="svndetail" src="/images/docs/svn/svn6.png" style="max-width:100%"/>
	<li>你可以在冲突文件上右键点击并选择解决这个冲突的方式</li>
	<img class="svndetail" src="/images/docs/svn/svn7.png" style="max-width:100%"/>
	<li>打开 解决冲突对话框并解决冲突（仅限文本类文件，如果是其他的文件冲突，你只能选择用版本库的或者你自己的）</li>
	<img class="svndetail" src="/images/docs/svn/svn8.png" style="max-width:100%"/>
	<li>解决完毕的样子</li>
	<img class="svndetail" src="/images/docs/svn/svn9.png" style="max-width:100%"/>
</ul>

<h4 class="sub-header"><strong>Svn提交的一些规范</strong></h4>
<ul>
	<li><strong><code>提交必须书写Message，告诉别人你提交了什么东西，为什么提交</code></strong></li>
	<li>非文本类文件如果是多人合作的方式，必须设置属性为need-locked，具体设置如下（右键文件->属性 Subversion标签下边Properties按钮）
		<img class="svndetail" src="/images/docs/svn/svn10.png" style="max-width:100%"/>
		<img class="svndetail" src="/images/docs/svn/svn11.png" style="max-width:100%"/>
	</li>
	<li>非文本类文件如果单人编辑，无需锁定。但主要不要维护多个版本，一个资源，版本库只存在一个文件</li>
	<li>不提交中间文件，只提交结果（尤其对于程序员）</li>
	<li>Svn文件尽量使用英文命名，具体资源的命名规范请参照各部门的工作规范文档</li>
	<li><strong><code>不能无视Conflict</code></strong></li>
	<li>不要每次冲突了，就把文件夹个目录删了，然后重新更新一遍。这个操作带来的时间浪费远大于更新操作本身</li>
</ul>

<h4 class="sub-header"><strong>Svn进阶</strong></h4>
<ul>
	<li>外链的那些事</li>
	<li>TreeConflict到底怎么回事</li>
	<li>为什么要有Trunk、Tags和Branches</li>
</ul>