<h1 class="page-header">Svn1.9.5汉化说明</h1>	

<h4 class="sub-header"><strong>下载Svn1.9.5</strong></h4>
<a href="/files/softwares/TortoiseSVN-1.9.5.27581-x64-svn-1.9.5.msi">Svn1.9.5</a>

<h4 class="sub-header"><strong>下载汉化语言包</strong></h4>
<a href="/files/softwares/LanguagePack_1.9.5.27581-x64-zh_CN.msi">Language包</a>

<h4 class="sub-header"><strong>按照提示安装</strong></h4>

<h4 class="sub-header"><strong>选择语言，在文件管理器空白处右键，按下图选择设置：</strong></h4>
<img src="/images/docs/svn/svnlan1.png" style="max-width:100%"/>
<h4 class="sub-header"><strong>在语言栏中选择简体中文：</strong></h4>
<img src="/images/docs/svn/svnlan2.png" style="max-width:100%"/>
    
