<h1 class="page-header">Venus编辑器帮助文档</h1>		

<h3 class="sub-header">软件的获取</h3>
<a href="/files/softwares/venus.7z">Venus编辑器下载地址</a>
<p>下载后直接解压到任何你方便的工作目录，双击执行venus.exe即可开启</p>

<h3 class="sub-header">当前版本功能介绍</h3>
<h4 class="sub-header">0.2版本</h4>
<ul>
	<li>可设置工程导出地址，目前可直接导出MsgPack格式和Json格式</li>
	<li>可连接Unity客户端（包括移动端）,动态更新表数据内容</li>
	<li>可以执行同Unity客户端相同的GM指令</li>
	<li>可以实时显示Unity打印日志（仅支持Cupid Logger打印的)，可以设置Filter</li>
</ul>
<h4 class="sub-header">0.1版本</h4>
<ul>
	<li>创建工程和管理工程</li>
	<li>创建Table表数据</li>
	<li>编辑表数据内容</li>
</ul>

<h3 class="sub-header">如何打开工程</h3>
<p>当前项目中我已经创建了工程文件，你直接选择打开即可（也可以另行创建），地址在这里 Neo\Design\Venus\neo.vpj </p>
<img src="/images/venus/v1.png" style="max-width:100%"/>
<p>由于当前是单机测试模式，因此你参考后边的介绍自行导入表配置即可</p>

<h3 class="sub-header">如何与Unity连通?</h3>
<ul>
	<li>先按Ctrl 8或者工具-连接Unity打开调试窗口</li>
	<li>开启Unity客户端，此时窗口会显示 已连接Unity </li>
	<li>修改数据，点击同步数据按钮即可（如果全部同步会稍慢)</li>
	<li>点击开启日志，会收集所有Unity Cupid Logger打印的日志，你可以清除现在的日志或者设置一个过滤条件</li>
	<img src="/images/venus/v2.png" style="max-width:100%"/>
</ul>

<h3 class="sub-header">从Excel表配置中导入数据</h3>
<p>当前编辑器还未处于优化后的使用阶段，因此在现阶段需要收集意见和建议来完善工具的使用</p>
<p>当需要编辑数据时，你可以先使用文件-从Excel中导入数据功能（选择Datum中的Config.txt文件即可）</p>
<img src="/images/venus/v3.png" style="max-width:100%"/>
<p>导入后的数据表会呈现出来，你可以双击任意一张表编辑数据</p>

<h3 class="sub-header">导出表配置内容</h3>
<p>软件会强制你设置当前工程的导出路径</p>
<p>你可以通过文件-工程属性来设置导出路径</p>
<img src="/images/venus/v4.png" style="max-width:100%"/>
<p>之后使用工具-导出表配置即可将数据导出</p>

<h3 class="sub-header">基本的表数据编辑功能</h3>
<p>基本上操作按照Excel的模式制作，然而一些选中功能还未开发，你可以直接编辑某个单元格的内容。这部分之后会根据类型定制更加方便的编辑方式</p>
<img src="/images/venus/v5.png" style="max-width:100%"/>