<h1 class="page-header">编辑题目<small>这里请不要误操作和测试服务器Bug</small></h1>		
<div id="addquest">
	<div class="row">
		<div class="col-xs-6" style="width:50%">	
			<div class="radio">选择题目类型<br/>
				<input type="radio" class="btn btn-primary" name="optionsRadios" checked @click="settype('newbie')">newbie:给应届生的笔试题</input><br/>
				<input type="radio" name="optionsRadios" @click="settype('client')">client:客户端笔试题</input><br/>
				<input type="radio" name="optionsRadios" @click="settype('server')">server:服务器笔试题</input><br/>
				<input type="radio" name="optionsRadios" @click="settype('logic')">logic:逻辑思维智商类笔题目</input><br/>
				<input type="radio" name="optionsRadios" @click="settype('language')">language:语言语法技巧类题目</input><br/>
				<input type="radio" name="optionsRadios" @click="settype('other')">other:无法分类的题目</input><br/>
			</div>
		</div>
		<div class="col-xs-6" style="width:50%">	
			<button type="button" class="btn btn-danger btn-xs" v-if="!isnew && !trydel" @click="delquest">!删除!</button>
			<button type="button" class="btn btn-primary" @click="newquest">新建问题</button>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					在这里选择此类型下的题目进行编辑
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li v-for="id in ids" @click="getoldquest(id)">{{id}}</a></li>					
				</ul>
			</div>
			<p v-if="!isnew">当前任务编号：{{qid}}</p>
			<button type="button" class="btn btn-danger" v-if="!isnew && trydel" @click="delquest">!尝试删除!</button>			
			<button type="button" class="btn btn-danger" @click="savequest">!写入!</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6" style="width:50%;height:850px">
			<p>在这里输入原始的题目，注意题目是支持html格式的，具体可以查看其它已编辑题目的样式</p>
			<textarea v-model="quest" style="width:100%;height:350px"></textarea>
			<p>在这里输入题目的解答，尽量从推荐答案、考察技巧等方面做出全方位解释</p>
			<textarea v-model="answer" style="width:100%;height:350px"></textarea>
		</div>
		<div class="col-xs-6" style="width:50%;height:850px">这里是编辑好的题目展示的样子
			<button type="button" class="btn btn-primary" @click="refresh">刷新</button>
			
			<div class="questcontent" style="white-space: pre-wrap">
				<div class="panel panel-default">
					<div class="panel-heading" v-html="quest"></div>
					<div class="panel-body">
						<div v-html="answer"></div>
					</div>
				</div>
			</div>
		</div>	
	</div>	
</div>	
