<h1 class="page-header">开发俱乐部主页</h1>		

<h5>

<h3 class="sub-header"><strong>Cupid</strong>  <small>基于C#+Lua的跨平台手游客户端方案</small></h3>
<p class="text-right"><small>SVN checkout : <a href="https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Cupid">https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Cupid</a></small></p>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.illustration')">架构说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.instruction')">开发说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.specification')">开发规范</a></li>
</ul>
<br/>

<h3 class="sub-header"><strong>Ares</strong>   <small>基于C++的核心战斗方案</small></h3>
<p class="text-right"><small>Git clone : <a href="https://wsgit.jjmatch.cn/source/Ares.git">https://wsgit.jjmatch.cn/source/Ares.git</a></small></p>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.illustration')">架构说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.instruction')">开发说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.specification')">开发规范</a></li>
</ul>
<br/>

<h3 class="sub-header"><strong>Hades</strong>   <small>基于Node.JS的服务器方案</small></h3>
<p class="text-right"><small class="text-right">SVN checkout : <a href="https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Hades">https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Hades</a></small></p>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.illustration')">架构说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.instruction')">开发说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.specification')">开发规范</a></li>
</ul>
<br/>

<h3 class="sub-header"><strong>Venus</strong>   <small>基于Electron的可视化数据编辑方案</small></h3>
<p class="text-right"><small class="text-right">SVN checkout : <a href="https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Venus">https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Venus</a></small></p>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.illustration')">架构说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.instruction')">开发说明</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.specification')">开发规范</a></li>
</ul>
<br/>

<h3 class="sub-header"><strong>Pandora</strong>   <small>基于Sails+Vue的工作室平台</small></h3>
<p class="text-right"><small class="text-right">Git clone : <a href="https://MoriyaLB@bitbucket.org/moriyalbdev/pandora.git">https://MoriyaLB@bitbucket.org/moriyalbdev/pandora.git</a></small></p>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.cupid.illustration')">架构说明</a></li>
</ul>
<br/>

<h3 class="sub-header"><strong>编码规范</strong></h3>
<ul>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.spec.coding')">基本编码规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.spec.cpp')">C/C++编码规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.spec.python')">Python编码规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.spec.js')">Javascript编码规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.spec.cs')">C#编码规范</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.spec.lua')">Lua编码规范</a></li>
</ul>

<h3 class="sub-header"><strong>试题库</strong></h3>
<p>部分题目是为了增进思维思路而提供，可以不断扩充题库。 面试时可以随机选择一些适合的题目来发问</p>
<ul>
	<li><a href="javascript:void(0)" onclick="fetchquest('newbie')">应届生笔试题</a></li>
	<li><a href="javascript:void(0)" onclick="fetchquest('client')">客户端笔试题</a></li>
	<li><a href="javascript:void(0)" onclick="fetchquest('server')">服务器笔试题</a></li>
	<li><a href="javascript:void(0)" onclick="fetchquest('logic')">思维逻辑类题目</a></li>
	<li><a href="javascript:void(0)" onclick="fetchquest('language')">语言技巧类题目</a></li>
	<li><a href="javascript:void(0)" onclick="fetchquest('other')">未分类题目</a></li>
	<li><a href="javascript:void(0)" onclick="redirectto('devs.addquest')">添加题目</a></li>
</ul>
</h5>

