<h1 class="page-header">文档中心</h1>		
<p>在这里查阅工作室的各项规范说明、工作模板、工具使用和技术文档</p><br/><br/>
<h3 class="sub-header">工作室文档</h3>		
<a href="/files/studio/jjgame_manual.pdf">竞技世界员工手册V4.0</a><br/>
<a href="/files/studio/cp_expense_sample.xls">费用报销单及附表V2.0</a><br/>
<a href="javascript:void(0)" onclick="redirectto('docs.expense')">费用报销单样式</a><br/>
<a href="/files/studio/cp_faq.doc">联运FAQ</a><br/><br/>
<h3 class="sub-header">设计师工作文档</h3>		
<p>策划的工作说明:设计游戏、配置数值、设计世界观、调试游戏，blabla</p>
<a href="/files/docs/template_design.docx">设计文案 Word模板</a><br/><br/>
<h3 class="sub-header">程序员工作文档</h3>		
<p>程序的工作说明:理解策划意图、实现需求、设计架构、搭建测试环境、发布游戏、分析玩家数据，blabla</p>
<div class="alert alert-success"><a href="javascript:void(0)" onclick="redirectto('devs.programmer')">程序文档中心</a></div>
<h3 class="sub-header">美术工作文档</h3>		
<p>美术的工作说明:美术风格指定、角色原画、场景原画、UI设计、模型制作、动作设计、场景设计、特效设计，blabla</p><br/><br/>
		