<h1 class="page-header">项目中心</h1>		
<h3 class="sub-header"><strong>Neo</strong>  <small>一款基于物理的休闲竞技类项目</small></h3>
<p class="text-right"><small>项目地址: <a href="https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Neo/Client">https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Neo/Client</a></small></p>
<p class="text-right"><small>工具地址 : <a href="https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Neo/Tools">https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Neo/Tools</a></small></p>
<p class="text-right"><small>文档地址 : <a href="https://wssvn.jjmatch.cn/jj-scheme-neo/NEO">https://wssvn.jjmatch.cn/jj-scheme-neo/NEO</a></small></p>
<div class="panel panel-default">
    <h4 class="panel-heading">项目说明</h4>
    <p class="panel-body" style="white-space: pre-wrap">
    </p>
</div>
<div class="panel panel-default">
    <h4 class="panel-heading">启动和调试</h4>
	<p style="white-space: pre-wrap">
    	<a href="javascript:void(0)" onclick="redirectto('projects.clientrun')">项目的更新和启动</a>
    </p>
</div>
<div class="panel panel-default">
    <h4 class="panel-heading">里程碑计划</h4>
    <p class="panel-body" style="white-space: pre-wrap">
    </p>
</div>
