<h1 class="page-header">工作室简介</h1>		
<p style="white-space: pre-wrap">	起源工作室成立于2017年5月8日。
	祝大家开心工作！
</p><br/><br/>

<p>Neo项目 SVN地址</p>
<a href="https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Neo/Client">https://wssvn.jjmatch.cn/jj-dev-neo/trunk/Neo/Client</a><br/><br/>
<p>Neo策划文档 SVN地址</p>
<a href="https://wssvn.jjmatch.cn/jj-scheme-neo/NEO">https://wssvn.jjmatch.cn/jj-scheme-neo/NEO</a><br/><br/>
<blockquote>
<h6 style="white-space: pre-wrap" class=".lead">注意上述SVN地址请使用Client SVN工具进行检出（Checkout）
	<small>详细的SVN使用细则可以参考 <a href="javascript:void(0)" onclick="redirectto('docs.svn')">SVN使用说明</a></small>
</h6>
</blockquote>

<p>工作室共享路径 请复制后输入到资源管理器的地址栏开大</p>
<a href="\\tkoffice\jj共享\工作室共享\C05-起源工作室">\\tkoffice\jj共享\工作室共享\C05-起源工作室</a><br/><br/>
<p>禅道 项目地址</p>
<a target="_Blank" href="http://wsproj.jjmatch.cn/zentao/project-task-7.html">http://wsproj.jjmatch.cn/zentao/project-task-7.html</a><br/><br/>
<p>公司 Mis管理系统</p>
<a target="_Blank" href="https://mis.jjmatch.cn/login.aspx">https://mis.jjmatch.cn/login.aspx</a><br/><br/>
<p>公司 Help管理系统</p>
<a target="_Blank" href="http://help.tkoffice.cn">http://help.tkoffice.cn</a><br/><br/>