<h1 class="page-header">常用软件下载</h1>		

<h3 class="sub-header"><strong>项目相关</strong></h3>
<ul>
	<li>Unity请到工作室共享下载 <code>\\tkoffice\jj共享\工作室共享\C05-起源工作室\软件\Unity5.6</code> </li>
</ul>
<h3 class="sub-header"><strong>版本管理工具</strong></h3>
<ul>
	<li><a href="/files/softwares/TortoiseSVN-1.8.7.25475-x64-svn-1.8.9.msi">TortoiseSvn1.8.7x64</a></li>
	<li><a href="/files/softwares/TortoiseSVN-1.9.5.27581-x64-svn-1.9.5.msi">TortoiseSVN-1.9.5</a> <a href="javascript:void(0)" onclick="redirectto('docs.svn_lan')">查看此版本的Svn汉化</a></li>
	<li><a href="/files/softwares/tortoisehg-2.4.2-hg-2.2.3-x64.msi">TortoiseHg2.4.2x64</a></li>
	<li><a href="/files/softwares/Git-2.7.2-32-bit_setup.1457942412.exe">Git2.7.2</a></li>
	<li><a href="/files/softwares/TortoiseGit-2.1.0.0-64bit.msi">TortoiseGit2.1.0x64</a></li>
</ul>
<h3 class="sub-header"><strong>其他</strong></h3>
<ul>
	<li><a href="/files/softwares/FeiQ.exe">FeiQ</a></li>
	<li><a href="/files/softwares/FileZilla_3.18.0_win64-setup.exe">FileZilla</a></li>
	<li><a href="/files/softwares/7z1700-x64.exe">7Zip</a></li>
</ul>
<h3 class="sub-header"><strong>文本编辑工具</strong></h3>
<ul>	
	<li><a href="/files/softwares/VSCodeSetup-1.12.1.exe">VSCode</a></li>
</ul>
<h3 class="sub-header"><strong>Venus数据编辑器(pre-alpha)</strong></h3>
<ul>
	<a href="javascript:void(0)" onclick="redirectto('docs.venus')">编辑器的使用说明</a><br/>
	<li><a href="/files/softwares/venus.7z">Venus</a></li>
</ul>
<h3 class="sub-header"><strong>程序员专用</strong></h3>
<ul>
	<li><a href="/files/softwares/python-3.5.3-amd64.exe">Python3.5</a></li>
	<li><a href="/files/softwares/cmake-3.6.0-rc3-win64-x64.msi">CMake3.6</a></li>
	<li><a href="/files/softwares/node-v8.0.0-x64.msi">NodeV8.0</a></li>
	<li><a href="/files/softwares/securecrt.7z">SecureCrt</a></li>
	<li><a href="/files/softwares/WinSCP3.7z">WinSCP3</a></li>
	<li><a href="/files/softwares/vs_enterprise__346890469.1494224078.exe">VS2017</a></li>
	<li>AndroidSdk和Ndk <code>\\tkoffice\jj共享\工作室共享\C05-起源工作室\软件\Programmer\Android</code> </li>
</ul>

