<div class="container">
   <div class="jumbotron">
        <h1>此界面尚未开发，请稍后</h1>        
        <p><a class="btn btn-primary btn-lg" role="button" onclick="goback()">返回上一页</a>
      </p>
   </div>
</div>