<!DOCTYPE html>
<html lang='zh-CN'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=typeof title == 'undefined' ? 'JJgame-Source Home' : title%></title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/chess.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/libs/tomorrow-night.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
  </body>
  
</html>
