<h1 class="page-header">场景规范 <small>Max版本2014</small></h1>		

<h4 class="sub-header"><strong>制作单位</strong></h4>
<ul>
	<li>场景比例：人为2米</li>
	<li>面数要求：在不影响结构的情况下越少越好（离摄像机近的模型，模型结构可以复杂些，面数可以适当高些, 看不见的面可以删除)</li>
	<li>贴图大小：512*512，细节尽量丰富（标准建筑控制在2张512之内）</li>
	<li>贴图最后需要整合到1024大小的贴图上，按照人物贴图的精细度比例，一般物件贴图均为256和512。偶尔会用到1024，可以直接在1024图例制作，方便规划拆分UV。</li>
	<li>视角为：30—45度固定视角</li>
	<li>可以使用透贴，但尽量少用</li>	
	<li>MAX中单位为：米</li>
	<img src="/images/art_spec/art_spec-1419.png" style="max-width:100%"/>
</ul>

<h4 class="sub-header"><strong>目录规范</strong></h4>
<ul>
	<li>ArtRes/Map : 该目录存放组合场景的源文件
		<ul>
			<li>ArtRes/Map/Texture：存放场景贴图,按照场景划分子目录</li>
			<li>ArtRes/Map/Prop : 存放场景模型,按照场景划分子目录</li>
		</ul>
	</li>
	<li>场景特效请参照特效规范</li>
	<li>ArtRes/Scenes : 该目录存放场景文件，xxx.unity</li>
</ul>

<h3 class="sub-header"><strong>模型面数</strong><small>面数均为三角面为计算单位</small></h3>
<ul>
	<li>在保证最终效果的情况下尽量节省面数，每个物件情况不同，这里只做通用情况下大概物件的模型面数。
		<ul>
			<li>小物件，比如箱子，麻袋，路标等：150以内</li>
			<li>灌木，小植物，石堆，中等物件等：300 以内</li>
			<li>中等房屋建筑：800 以内</li>
			<li>大型，特殊建筑：1500以内（仅限于不会重复运用的建筑）</li>
		</ul>
	</li>
	<li>模型总体面熟运用，以达到效果基础上，尽量减少面数，同屏场景面数控制在1W左右，全场景算上地形，整体面数控制在6-9W左右最佳。</li>
	<li>该合的点必须合一起</li>
	<img src="/images/art_spec/art_spec-1678.png" style="max-width:50%"/><img src="/images/art_spec/art_spec-1679.png" style="max-width:50%"/>
</ul>

<h4 class="sub-header"><strong>场景模型</strong></h4>
<ul>
	<li>注意模型拆分以及复用问题，保证模型最大程度复用，可能出现在不同屏的一个大物体尽量拆分成两个子物体</li>
	<li>保持一个物体上不要出现重复的同材质的多个材质球，把同材质的贴图合并到一起，并且大小不超过1024*1024</li>
	<li>模型无特殊需要请参考以下设置进行调整
		<ul>
			<li>模型使用同一缩放比例</li>
			<li>模型压缩调整为最高(High)，查看模型如果有较大变化则依次减少为中(Medium)或者低(Low)，直到可接受的范围内</li>
			<li>如无特殊需要则关闭导入BlendShapes导入</li>
			<li>如无特殊材质需要则关闭法线(Normals->None)导入，有需要的情况联系程序确认以后打开</li>
			<li>控制(Rig)选项无需求则关闭</li>
			<img src="/images/art_spec/art_spec-2801.png" style="max-width:100%"/>
			<img src="/images/art_spec/art_spec-2803.png" style="max-width:100%"/>
		</ul>
	</li>
</ul>


<h4 class="sub-header"><strong>导出</strong></h4>
<ul>
	<li>导出前模型要做位置重置，并归位到世界坐标0.0.0坐标轴。</li>
	<img src="/images/art_spec/art_spec-1738.png" style="max-width:50%"/><img src="/images/art_spec/art_spec-1739.png" style="max-width:50%"/>
	<li>材质球名称要与贴图名称一致</li>
	<img src="/images/art_spec/art_spec-1755.png" style="max-width:100%"/>
	<li>导出命名规则
		<ul>
			<li>场景名_物件名_（三位数编号）,拼音首字母要大写</li>	
			<li>例子：沙漠场景中的物件 <code>ShaMo_ShiTou_001</code></li>
			<li>导出文件名与物件名相同. 导出为fbx 文件，max2008以上自带导出插件</li>
			<li>不带动画的静态场景物件，基本除了光滑组，别的勾选都可以去掉，以减小文件大小</li>
			<img src="/images/art_spec/art_spec-1935.png" style="max-width:100%"/>
			<li>带动画的场景物件，需要勾选动画和骨骼导出选项</li>
			<img src="/images/art_spec/art_spec-1964.png" style="max-width:100%"/>
		</ul>
	</li>	
</ul>

<h4 class="sub-header"><strong>关卡规则</strong></h4>
<ul>
	<li>地形大小 : 活动区域<code>40*40</code>左右的terrain基本够用，但考虑到四周延伸远景，一般<code>50*50</code>足够用</li>
	<li>关于灯光 : 因为后期会用linghtmapping来制作光照信息贴图，所以前期打光没有限制，最后一起制作linghtmap</li>
</ul>

<h4 class="sub-header"><strong>场景特效</strong></h4>
<ul>
	<li>场景特效尽量精简,看不见的东西直接砍掉</li>
</ul>

<h4 class="sub-header"><strong>场景贴图</strong></h4>
<ul>
	<li>场景贴图尽量减少透明的使用，设置要求与特效贴图相同，需要注意的是在地表等大量重复且可能有出现Mipmap的地方，需要UV边界填充相近颜色，防止压缩后出现细线</li>
	<div class="alert alert-warning" role="alert">
		<ul>
			<li>在安卓平台上大图压缩以后可能会出现边界模糊的情形，这时需要转换压缩格式，单独提出特殊处理。（提出alpha通道，加入脚本控制shader合成alpha）</li>
			<li>IOS使用默认压缩</li>
			<li>Android使用 RGB ETC 4压缩，再合成alpha</li>
			<img src="/images/art_spec/art_spec-2471.png" style="max-width:100%"/>
		</ul>
	</div>
	<li>场景内尽量不使用透明贴图，使用稍多的面数完成模型，如需使用透明贴图也用一张贴图使用单独材质，不要给非透明贴图选择透明材质(包括半透明效果和镂空效果)</li>
	<li>场景内光照强度尽量低于1.0。如无多余参数调整需要请使用Mobile中的材质</li>
</ul>
