<h1 class="page-header">特效规范</h1>		

<h4 class="sub-header"><strong>特效文件贴图</strong></h4>
<ul>
	<li>贴图使用默认贴图类型PNG格式，使用通过压缩保证贴图为正方形。贴图分辨率为32*32、64*64、 128*128、256*256、512*512。理论上1024*1024可以有 但不常用</li>
	<li>游戏中特有重用的时候，如果存在某些特殊的控件需要对该控件进行重置，保证下次使用的时候不出现表现错误。需要在对应的gameObject上挂上EffectReset脚本</li>
	<img src="/images/art_spec/art_spec-4642.png" style="max-width:50%"/><img src="/images/art_spec/art_spec-4648.png" style="max-width:50%"/>
</ul>

<h3 class="sub-header"><strong>特效文件命名</strong></h3>
<ul>
	<li>通用类特效应有对应的前缀</li>
	<li>场景类特效。前缀为CJ</li>
	<li>BUFF类特效，前缀BUFF</li>
	<li>受攻击名种类特效，前缀HIT</li>
	<li>UI类特效，前缀UI</li>
	<li>技能特效命名格式为角色模型名_动作名_编号，H_Xxx_001_Skill01_Skill01_001 (H_Xxx_001是模型名，Skill01是动作名，Skill01_001是特效和序号)</li>
	<li>如果同一个动作需要配合多个特效文件，就001、002。。。顺序排列下去</li>
	<img src="/images/art_spec/art_spec-4861.png" style="max-width:100%"/>
	<li>贴图材质命名，普通特效贴图目前大部分按贴图类别分类，比如刀光类、尘土类型、轨迹拖尾类</li>
	<img src="/images/art_spec/art_spec-4907.png" style="max-width:100%"/>
	<li>序列贴图，应在贴图和材质名中体现出贴图的长宽帧数</li>
	<img src="/images/art_spec/art_spec-4934.png" style="max-width:100%"/>
	<li>部分贴图在使用时需要左右翻转，可新增材质球，调节平铺参数。例如 病在材质球命名中增加“-1X1”的后缀，例如</li>
	<img src="/images/art_spec/art_spec-4991.png" style="max-width:100%"/>
	<li>材质球多为Mobile/Particles/Additive, Mobile/Particles/Alpha Blended</li>
	<li>模式材质命名与贴图相同</li>
	<li>Particles/Additive   模式材质命名与贴图相同</li>
	<li>Particles/Alpha Blended  模式材质命名在贴图后加 _a后缀</li>
	<li>特殊模型，例如某特效需要角色的静帧模型做残影特效，该静帧模型应按照角色模型命名，并建立文件夹单独存放。目前模型文件夹中已经出现重复模型的现象，面片（三个方向），圆环、有厚度的刀光模型都 已经有了，原则上应该尽量重复使用现有资源，避免增加雷同模型。</li>
	<li>模型文件在U3D打开后应设置相应参数</li>
	<img src="/images/art_spec/art_spec-5228.png" style="max-width:100%"/>
	<li>避免出现这种材质球</li>
	<img src="/images/art_spec/art_spec-5301.png" style="max-width:100%"/>
	<li>新增贴图、动作、模型、时与现有的资源仔细对比排查，避免雷同重复资源添加，原则上尽量避免新增资源。</li>
</ul>


<h3 class="sub-header"><strong>目录规范</strong></h3>
<ul>
	<li>所有特效原始资源统一放在 <code>Assets\ArtRes\Effect\</code> 下面
		<ul>
			<li>Model 文件夹 : 存放特效专用的模型,杜绝直接使用场景模型</li>
			<li>Com_Model ： 公共特效模型</li>
			<li>Character_Model : 角色特效模型，按角色ID命名文件夹</li>
			<img src="/images/art_spec/art_spec-5502.png" style="max-width:100%"/>
			<li>如该角色特效有动作文件，则在角色目录下创建Animation文件夹，存放动作文件以及动作管理器</li>
			<img src="/images/art_spec/art_spec-5552.png" style="max-width:100%"/>
			<li>Texture 文件夹 : 存放特效贴图</li>
			<li>Materials 文件夹 ： 存放特效材质文件下</li>
		</ul>
	</li>
	<li>所有特效预设（prefab）文件 存放在 <code>Assets\BundleRes\Res\Prefab\Effect\</code> 文件夹下
		<ul>
			<li>Effect_Common 文件夹 ： 存放公共特效预设文件</li>
			<li>Effect_Character 文件夹 ： 存放角色特效预设文件，按角色ID命名文件夹存放</li>
			<li>Effect_Scene 文件夹 ： 存放场景特效预设文件</li>
			<li>Effect_UE 文件夹 ： 存放UE特效预设文件</li>
		</ul>
	</li>
</ul>

<h3 class="sub-header"><strong>预设制作</strong></h3>
<ul>
	<li>特效贴图不可太大或太多,避免一个特效好几M </li>
	<li>特效避免使用太多太大的FBX</li>
	<li>非场景特效不要使用场景的贴图或者FBX</li>
	<li>尽量减少贴图个数,减小特效大小和粒子数</li>
</ul>

<h3 class="sub-header"><strong>贴图</strong></h3>
<ul>
	<li>特效贴图使用默认贴图格式，使用通用压缩。贴图大小需要使用如下分辨率32 * 32、64 * 64、128*128、256*256、512*512、1024*1024中的一种，保证贴图为正方形。详细设置如下</li>
	<img src="/images/art_spec/art_spec-5970.png" style="max-width:100%"/>
</ul>