<h1 class="page-header">HeroShow材质说明</h1>		

<img src="/images/art_spec/heroShow1.png" style="max-width:100%"/>
<p>HeroShow材质目的是为了英雄展示，它的参数意义和效果如下：</p><br/>

<h4 class="sub-header"><strong>Base（RGB）</strong></h4>
<p>颜色（diffuse）贴图。应该很好理解，tiling和offset分别指的是贴图的重复和偏移，一般用不上。</p>

<h4 class="sub-header"><strong>Mask（RGB）</strong></h4>
<div>遮罩（mask）贴图非常重要，它决定了很多材质效果的具体效果，以及是否具有这些效果。它的RGB三个通道分别有重要的意义：
	<ul>
		<li>R（红色）通道：表示高光（SPEC）的强弱对比，黑色代表没有，白色代表最强。</li>
		<li>G（绿色）通道：表示流光（Noise）的强弱，黑色代表没有，白色代表最强。 </li>
		<li>B（蓝色）通道：表示反射光（Reflect）的混合参数。可以简单的认为，这个通道值越大，约逼近反射本来的效果。</li>
	</ul>
	<p>总之，遮罩图是可以影响具体效果的程度的。</p>
</div>


<h4 class="sub-header"><strong>RAMP map</strong></h4>
<div>RampMap采样着色是通过映射一张一维纹理来实现卡通化着色，相对floor函数，RampMap映射方式比较容易控制卡通效果，美术师只需修改贴图就能修改卡通渐变的过渡等效果。
	<img src="/images/art_spec/heroShow2.png" style="max-width:100%"/>
	<p>简单来说，这张图是用来实现明暗渐变的，默认它跟实时阴影是绑定的，如果没有实时阴影，那么这种渐变是没有作用的，是一个固定的值</p>
</div>

<h4 class="sub-header"><strong>Light effect</strong></h4>
<img src="/images/art_spec/heroShow3.png" style="max-width:20%"/>
<img src="/images/art_spec/heroShow4.png" style="max-width:20%"/>
<img src="/images/art_spec/heroShow5.png" style="max-width:20%"/>
<img src="/images/art_spec/heroShow6.png" style="max-width:20%"/>
<img src="/images/art_spec/heroShow7.png" style="max-width:20%"/>
<p>这是用来模拟360度侧光效果的。具体的图可以在commontexture里面找。</p>

<h4 class="sub-header"><strong>Noise effect</strong></h4>
<p>这是流光效果。贴图代表了流光的面积。Noise speed X代表x方向流动的速度，
Noise speed Y代表y方向流动的速度。Noise color代表流光颜色，Layer multiplier代表的是叠加程度。</p>

<h4 class="sub-header"><strong>Reflect effect</strong></h4>
<div>这是反射光效果。反射图，表达的镜面效果，真实的反射镜面应该是对6面环境的映射，这里用一张假图，主要是为了表现金属的反射质感。
Commontexture里面，reflection开头的贴图，都是这一类贴图。
<ul>
	<li>Reflect color:反射颜色。</li>
	<li>Reflect power反射大小</li>
	<li>Reflection multiplier 反射程度。</li>
</ul>
</div>