<h1 class="page-header">美术UI规范</h1>		

<h4 class="sub-header"><strong>基本设定</strong></h4>
<ul>
	<li>每个图片的长宽是2的幂次方</li>
	<li>游戏尺寸比为16：9像素为1024x576</li>
	<li>UI资源放到对应文件夹,公共资源放在common文件夹,相同图片在工程中只有一张</li>
</ul>

<h3 class="sub-header"><strong>命名规范</strong></h3>
<ul>
	<li>界面文件夹里的命名单词全部小写（尽量英文单词）</li>
	<li>界面命名以 ui_开头 格式为：ui_类型_名称_id（其中（btn/icon/bg/frame/mask/pic类 为前缀））</li>
	<li>id:正常态为01/点击态为02/置灰态为03
		<ul>
			<li>icon（图标类）icon_name_id</li>
			<li>bg(背景类)bg_name_id</li>
			<li>frame(框类)frame_name_id</li>
			<li>mask(遮罩类)mask_name_id</li>
			<li>pic（图片类）pic_name_id</li>
			<li>bar（进度条类）bar_name_id</li>
			<li>其中技能图标01、道具图标02、装备图标03 由策划提供图标名称，美术出资源时按照策划提供的名称输出资源（例如装备类可以叫item0301 （01是装备的id）等 然后依次排序）这三类图标量比较大不适合单独给每个图标起英文名称</li>
		</ul>
	</li>

</ul>
<h3 class="sub-header"><strong>面板大小</strong></h3>
<ul>	
	<li>大面板              ：待定</li>
	<li>中面板              ：待定</li>
	<li>提示购买面板（横小）：待定</li>
	<li>获取途径面板（竖小）：待定</li>
	<li>游戏中字体          ：待定</li>
	<li>常用字色标注        ：待定</li>
	<li>阴影规则            ：待定</li>
	<li>描边规则            ：待定</li>
</ul>