<h1 class="page-header">角色模型制作</h1>		

<h4 class="sub-header"><strong>制作准备</strong></h4>
<ul>
	<li>根据原画先进行初期准备</li>
	<li>MAX版本：2014</li>
	<li>单位：m
		<img src="/images/art_spec/art_spec-51.png" style="max-width:100%"/>
	</li>	
	<li>角色身高：<code>男性1.95m  女性：1.75m</code>  怪和BOSS根据角色来。原则上不高于<code>2.4m</code>（场景那边按照2m制作）</li>
	<li>模型面数：3000-4000三角面 展示6000-9000三角面（待定）</li>
	<li>贴图数量：1张（1024*1024）主角 1 张;（512*512、256*256） 怪、NPC和BOSS</li>
	<li>贴图格式：PNG</li>
	<li>不要使用透贴，视角为上帝视角和展示视角2种</li>
</ul>

<h3 class="sub-header"><strong>制作时间</strong></h3>
<ul>
	<li>主角：9天</li>
	<li>小怪和NPC：4天</li>
	<li>BOSS和复杂的模型：5天</li>
</ul>
<h3 class="sub-header"><strong>模型制作</strong></h3>
<ul>
	<img src="/images/art_spec/art_spec-307.png" style="max-width:100%"/>
	<li>布线均匀合理</li>
	<li>造型准确</li>
	<li>面数合理（尽量控制在范围内）</li>
	<li>金属转折出尽量卡出型来</li>
</ul>
<h3 class="sub-header"><strong>贴图制作</strong></h3>
<ul>
	<img src="/images/art_spec/art_spec-361.png" style="max-width:100%"/>
	<li>UV分布合理</li>
	<li>贴图质感在尽量加强 每个区域溢出2-4个像素，防止接缝出现</li>
</ul>
<h3 class="sub-header"><strong>SP贴图制作</strong></h3>
<ul>
	<img src="/images/art_spec/art_spec-416.png" style="max-width:100%"/>
	<li>绿色通道：填充为黑色</li>
	<li>金属通道：红色和绿色通道根据实际情况调试参数</li>
</ul>