<h1 class="page-header">动作规范 <small>Max版本2014</small></h1>		

<h4 class="sub-header"><strong>前期设置</strong></h4>
<ul>
	<li>重置模型后转换成POLY，步骤；Reset XForm-----Rest Selected------Conver To-------Conver to Editable Poly</li>
	<img src="/images/art_spec/art_spec-3053.png" style="max-width:100%"/>
	<li>创建骨骼数量英雄单位暂定30以下，如果超出必须向动画负责人汇报。</li>
	<li>在第0帧保存BIP 和BONE骨骼的原始位置，并在第0帧打上关键帧</li>
	<li>Left视图创建一根bone骨骼（命名root） 作为所有骨骼的父节点.VIEW属性坐标位置X0，Y0，Z0，VIEW属性旋转值X90,Y0,Z-90， 在透视图Local属性，轴指向X前Y上Z左，保存骨骼的原始位置，第0帧不许有关键帧</li>
	<img src="/images/art_spec/art_spec-3247.png" style="max-width:100%"/>
	<li>蒙皮使用skin的方式，所有点最多同时只受4根骨骼影响，Bone Affect Limit:4</li>
	<img src="/images/art_spec/art_spec-3301.png" style="max-width:100%"/>
	<li>动画帧速率为N制，每秒=30帧，FPS:30</li>
	<img src="/images/art_spec/art_spec-3329.png" style="max-width:100%"/>
</ul>

<h4 class="sub-header"><strong>动画内容以及命名</strong></h4>
<ul>
	<li>前进：Run01</li>
	<li>后退（这个版本暂无需求）Run02   </li>
	<li>左移动（这个版本暂无需求）Run03</li>
	<li>右移动（这个版本暂无需求)  Run04</li>
	<li>正常站立待机：Idle01</li>
	<li>战斗待机：Astay01</li>
	<li>普攻一段（这个版本暂无需求) ：Atk01</li>
	<li>普攻二段（这个版本暂无需求) ：Atk02</li>
	<li>公共技能1：GGSkill01</li>
	<li>公共技能2：GGSkill02</li>
	<li>公共技能3：GGSkill03</li>
	<li>特有技能1：TYSkill01</li>
	<li>特有技能2：TYSkill02</li>
	<li>原地死亡:Die01</li>
	<li>原地死亡持续：Dying01</li>
	<div class="alert alert-warning" role="alert">root骨骼不允许带帧
	剩余骨骼所有动画从第0帧开始播放，在第X（根据动画需求）帧结束，剩余所有骨骼在0帧和X帧都必须有帧，在0前和X后不得有任何多余的帧（尤其在动画检查时看下0前是否有多余的动画曲线），有任何问题，汇报动画负责人。
	</div>
</ul>

<h4 class="sub-header"><strong>导出</strong></h4>
<ul>
	<li>蒙皮文件导出不要勾选动画</li>
	<img src="/images/art_spec/art_spec-3731.png" style="max-width:100%"/>
	<li>如果有BONE骨骼IK或者带约束的动画，请激活动画烘培Bake Animation，并填入相应的动画时间</li>
	<img src="/images/art_spec/art_spec-3788.png" style="max-width:100%"/>
</ul>

<h4 class="sub-header"><strong>目录规范</strong></h4>
<ul>
	<li>模型MESH，ANIMATION动画，CONTROLLER动画控制器，统一放到一个目录下面</li>
	<li>例如命名为H_xxx的英雄（H为英雄，NPC为N），原始资源（蒙皮文件，动画文件）必须放置到<code>ArtRes/Model/Characters/H_xxx/</code> 目录下</li>
	<li>蒙皮文件命名：H_xxx_Skin</li>
	<li>动画文件命名：H_xxx_动画内容命名（看上面的表）</li>
	<li>模型预设(Prefab)统一放在 BundleRes/Res/Prefab/Model/ 下面,按照不同类型自己划分目录</li>
	<li>如角色模型就放置在 BundleRes/Res/Prefab/Model/Characters/ 里面</li>
	<li>相同类型的资源如预设和Mesh等等不可以有相同的名字(包括材质贴图等等)</li>
</ul>

<h4 class="sub-header"><strong>动画</strong></h4>
<ul>
	<li>每个角色使用自己的动画控制器和动画 动画不可以直接使用动作模型内的动画,需要拷贝一份(否则动作的模型会被引用到预设内)</li>
</ul>

<h4 class="sub-header"><strong>材质</strong></h4>
<ul>
	<li>模型导入后不可勾选导入材质球; 每个角色使用自己的材质球</li>
</ul>
