<h1 class="page-header">美术资源提交规范</h1>		

<h4 class="sub-header"><strong>非最终资源文件</strong></h4>
<ul>
	<li>例如各种原画、max源文件、psd源文件等</li>
	<li><strong><code>不能！坚决不能！提交到SVN中</code></strong></li>
	<li>请放置在工作室共享目录中</li>
	<li>资源请做好文件夹与文件名的管理，具体命名请查阅相应美术工作规范</li>
</ul>

<h4 class="sub-header"><strong>最终资源文件</strong></h4>
<ul>
	<li>请仔细阅读 <a href="javascript:void(0)" onclick="redirectto('docs.svn')">Svn使用说明</a> </li>
	<li>根据各美术小组的规范，将制定资源提交</li>
	<li>资源只有一个版本，如果你有一版新的模型、UI或者动作，请直接替换老的资源</li>
	<li>Svn上不能存在任何无用资源，无用的资源请立刻从Svn中删除</li>
</ul>

<h4 class="sub-header"><strong>当发生Tree Conflict怎么办</strong></h4>
<ul>
	<li>请仔细阅读 <a href="javascript:void(0)" onclick="redirectto('docs.svn')">Svn使用说明</a> </li>
	<li>一般情况下，只需要revert冲突的目录或者文件即可</li>
	<li>如果你确认你的资源是更新的版本，你可以revert资源后，再将你的资源替换上去</li>
	<li>尽量不要在根路径下全部删除然后重新Update</li>
</ul>
