<h1 class="page-header">Hades架构设计思路说明和讨论</h1>		

<h4 class="sub-header"><strong>设计思路</strong></h4>
<ul>
	<li>对于一般游戏服务器来说，其本质的目的只有这样两条：<code>维护数据 以及 按规则更新数据</code> </li>
	<li>因此上在逻辑上一般都是数据库建表，客户端请求操作，服务器逻辑处理，更新数据库并通知客户端最新的数据内容</li>
	<li>我们的Hades服务器架构就是基于以上的目的设计，希望用一种基于配置的编程思路，统一流程化处理以上步骤，减轻开发人员在对具体技术细节的关注上，而将精力能力发挥在距离逻辑细节上</li>
	<li>同时Hades也包含了其他一些服务器必须的模块和内容，例如对于分布式的处理，对于网络协议的处理等</li>
</ul>

<h4 class="sub-header"><strong>约定大于配置，配置大于编码</strong></h4>
<ul>
	<li>对于需求，直接写代码是一种较为原始的做法。当处于多人合作甚至多团队合作、多人轮替的情况发生时，很容易由于编码习惯的改变，导致维护困难或者开发障碍</li>
	<li>因此配置系统诞生的目的，是希望用配置的方式，去达到规范项目架构、规范代码结构的目的。他限制了一定的编码自由度，换来了对配置项的统一的认知。</li>
	<li>而约定模式要比配置更加直接，他希望达到的目的是，让开发人员少做或者不做选择题，也尽量不要做出系统级别的决定，让你的注意更加集中。</li>
	<li>约定大于配置（COC，convention over configuration），在架构中统一一种约定，大家按照规则办事，循规蹈矩。</li>
</ul>

<h4 class="sub-header"><strong>如何做到？</strong></h4>
<ul>
	<li>只有规定，很难去要求开发人员，架构设计者也很难把所有精力放置在对于开发人员的代码审核上。因此架构设计上需要一些手段去保证统一的规范。</li>
	<li>但是基于以上的思路，会带来新的问题，那就是程序员的自由度被极大的限制了。他们很难去按照自己的编码风格去开发，而不得不去“妥协”的提交逻辑。</li>
	<li>如果一套设计方案不能让人开发的心情愉快，那么我们认为他的设计肯定是有问题的。如果界定到底应该如何开发才能保证所有人（或者大部分人）是愉悦的呢？
		<ul>
			<li>首先，项目代码应该是整洁的，统一的。如果基于团队合作的最终代码，是风格迥异的，我们认为这是导致非愉悦情绪的罪魁祸首。<small>不要给人擦屁股，也不要把屎拉给别人</small></li>
			<li>其次，他应该是易于掌握的，简单易用的，甚至你感受不到他存在的。但是这一条和上一条矛盾，如果你的自由度太高，风格就极难统一。</li>
			<li>再次，这条设计有明确的思路，帮助开发者做了些什么，给开发者提供了什么，以及要求开发者做什么，都有明确的规定，开发人员的目的性很强。</li>
			<li>最后，架构应该是易于扩展的，并希望扩展的。我们希望架构能给开发者更多的提示，而非限制。架构会明确的写出开发思路、设计图纸以及具体施工方案，呈献给使用者，并希望他们完全透彻的了解，这样既能帮助他们更好的使用，也能促进他们为架构的更新换代提供意见和建议。</li>
		</ul>
	</li>
</ul>

<h4 class="sub-header"><strong>那么Hades到底有什么东西？</strong></h4>
<ul>
	<li>一套基于Entity的规范定义格式，他规定了基本的通信单位是Entity，一个Entity可以有属性、方法、以及可以有继承关系。</li>
	<li>一套完整的类型系统，对于属性和方法参数提供支持，也提供了方法调用或设置属性时自动的类型检查机制。</li>
	<li>一套完善的同步机制，基于DirtyService和Orm系统的自动数据存储。使用Proxy跟踪属性变化并记录，开发人员只需要声明配置（存还是不存）即可。</li>
	<li>一套规范的消息协议，基于MsgPack的数据包，和自定义最小化包头。另外封装了消息的编码和解码，程序员直接与自己关心的数据结构打交道。</li>
	<li>一套友好的通信接口，通过配置，开发人员可以轻松定制请求接口（handler，也就是client的req以及server的resp），推送（push），而无须使用复杂的API实现。以下是式样代码<br/>
		client端 lua代码 申请购买物品
		<pre class="prettyprint linenums lang='lua'">proxy.server.buyItem(itemNo, count, function(result, curMoney)
	if result == Types.BuyItemResult.Ok then
		proxy.updateMoney(curMoney)
		ui.notify("success to buy")
	else
		ui.notify("u r not enough money")
	end
end)</pre>
		server端 js代码 对应请求处理
		<pre class="prettyprint linenums lang='js'">proxy.buyItem = async function(args) {
	await curMoney = proxy.getMoney() //这里假定是异步操作
	const storeData = Datum.getStoreData()
	if (curMoney >= storeData.cost(args.itemNo)){
		return {"result":Types.BuyItemResult.Ok, "curMoney":curMoney}
	}
	return {"result":Types.BuyItemResult.Fail}
}</pre>

	</li>
	<li>基于配置的自动代码导出系统。可能这部分争议最大，然后自动构建代码的好处不言而喻
		<ul>
			<li>降低了开发人员的工作量，而无须在配置、服务器端代码、客户端代码之间同步开发。</li>
			<li>自动定义所需函数，参数声明及返回值声明，即使不写代码，程序运行也不会受影响。经常发生的事情是，你忘记了提供函数，但是你的逻辑又没有执行到，这可能是一个隐患的错误</li>
			<li>统一的程序结构，即使开发人员风格再迥异，他们也仅能影响函数具体逻辑，但是对于接口来说，一致的参数和一致的返回值，意义极大</li>
			<li>减少错误的发生。无论任何情况下，对于脚本语言（这里特制JS和Lua），只有在执行环境下才可能出现的错误，我们更希望让他出现的更早或者完全不出现。代码检查一一种解决方案（例如ESLint），而自动导出，我们认为是另外一种解决方案(这两种并不冲突) </li>
		</ul>
	</li>
	<li>更具体的模块和架构文档，不在文本的说明之列。请查看 Hades 文档说明即可 </li>
</ul>

<h4 class="sub-header"><strong>开发流程</strong></h4>
<ul>
	<li>明确策划需求，制定开发思路和解决方案</li>
	<li>设计数据结构、接口等，并在Entity配置中实现定义</li>
	<li>导出配置后，在server端编写handler逻辑，在client端编写请求和处理回复，可能的话也会编写通知（notify）和推送（push）</li>
	<li>处理Client端的ui显示逻辑和映射操作，可能的话，处理部分client逻辑，例如一些检查机制，或者编写UE特效</li>
	<li>联调Bug</li>
</ul>

<h4 class="sub-header"><strong>不足和思考</strong></h4>
<ul>
	<li>这套方案更多的为非对战类玩法系统设计，如果要更多的联机、跨玩家、可能还需要更进一步的封装处理和新的规则制定</li>
	<li>在目前的阶段，一些地方的处理手法较硬，无法更友好的展示给开发者，可能需要一定时间去迭代架构本身，更重要的是能收获更多人的使用反馈</li>
	<li>架构本身的技术完毕性需要提高，例如引入ESLint等代码检查工具、引入Mocha等自动化测试工具、引入Gulp等自动构建工具等</li>
	<li>最终，我们的架构要为项目服务，再牛逼的结构，如果开发不出来作品，仍然一钱不值，因此更明确的，需要经过项目的检验</li>
</ul>