<h1 class="page-header">用户界面<small></small></h1>
<div>
	<h3 class="sub-header">基本信息设置</h3>
	<div class="row" style="text-align: left" id="user_info">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<h5 class="sub-header">修改登陆密码</h5>
			<div class="input-group">
				<span class="input-group-addon btn-default" id="basic-addon1">修改密码</span>
				<input v-model="pwd1" type="password" class="form-control" placeholder="" aria-describedby="basic-addon2">
			</div>
			<div class="input-group">
				<span class="input-group-addon btn-default" id="basic-addon2">确认密码</span>
				<input v-model="pwd2" type="password" class="form-control" placeholder="" aria-describedby="basic-addon2">
			</div>

			<h5 class="sub-header">设置昵称</h5>
			<div class="input-group">
				<span class="input-group-addon btn-default" id="basic-addon3">昵称</span>
				<input v-model="nick" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
			</div>

			<h5 class="sub-header">上传头像</h5>
			<div class="input-group">
				<span class="input-group-addon btn-default" id="basic-addon3">头像</span>
				<input v-model="icon" type="file" class="form-control" placeholder="" aria-describedby="basic-addon2">
			</div>
			<br/>
			<button type="button" class="btn btn-primary" @click="onsubmit">更新</button>
			<br/>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<h3 class="sub-header">你的文章</h3>
	<h3 class="sub-header">你的评论</h3>
	<h3 class="sub-header">你的工程</h3>
</div>