<h1 class="page-header">Neo项目的更新和启动</h1>		
<ul>
	<li><p style="white-space: pre-wrap">	首先根据项目主页上的SVN地址进行更新，运行项目需要Client和Tools两个文件夹，请你在同一根目录下同时检出这两个地址。	
	</p></li>
	<li><p style="white-space: pre-wrap">	更新完毕后，打开Tools\Shell路径，双击运行 “非程序员使用_更新SVN后请执行.bat” ，第一次执行可能会比较慢（因为会自动搜索已经安装的一些文件）。
	如果你希望手动去配置，那么可以先不执行，而拷贝以下两个文件到同一目录 <a href="/files/shells/callvs.bat">callvs.bat</a> <a href="/files/shells/preference.bat">preference.bat</a>
	之后编辑 <code>preference.bat</code> 将 <code>USERTYPE</code> 修改为user
	<pre>set USERTYPE=user</pre>
	</p></li>
	<li><p style="white-space: pre-wrap">	双击运行 “非程序员使用_更新SVN后请执行.bat”，正常情况下会看到脚本执行了一些拷贝的操作
	<div class="alert alert-danger">程序开发人员（特别是Lua代码编写者），请注意不要修改USERTYPE为user或者执行这个脚本，他可能会覆盖你之前的代码（如果你忘记提交到服务器的话），千万要谨慎执行这个脚本！</div>
	</p></li>
	<li><p style="white-space: pre-wrap">	之后请打开Unity(目前版本是5.6.0f3(64bit))，如果是第一次打开，请点击Open，如图
		<img class="insideimg" style="max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq5.png">
	然后选择Client文件夹（就是你更新的那个），第一次打开会执行一些脚本处理，请耐心等候一会。如果不是第一次打开，Projects列表会存在已经打开的工程，如图
		<img class="insideimg" style="max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq6.png">
	直接点击这里即可
	</p></li>
	<li><p style="white-space: pre-wrap">	Unity打开后请选择<code>File->Open Scene</code>或者直接按快捷键<code>Ctrl+O</code>，然后选择Client/Scenes/GameStart.unity
	之后按开始键即可执行游戏
	</p></li>
	<li><p style="white-space: pre-wrap">	请注意Unity的平台应该是PC,Mac &amp; Linux Standalone，这个在Unity程序的标题栏可以看到，如果不是，请点击<code>File->Build Settings</code>,在弹出的对话框的Platform列表中选择第一项，如图
		<img class="insideimg" style="max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq7.png">
	</p></li>
	<li><p style="white-space: pre-wrap">	正常启动后你就会进入Logo界面开始游戏。Console控制台会有一些打印日志或信息，如图
		<img class="insideimg" style="max-width:100%;clear:both;display:block;margin:auto; " src="/images/docs/faq/faq8.png">
	当你感觉游戏不正常或者有问题的时候，这里通常都会有红色的错误提示，你可以截图展示给程序员，让他们解决问题。
	</p></li>
</ul>
