<h1 class="page-header">常用工具连接</h1>		
<h3 class="sub-header"><strong>Cupid</strong></h3>
<div class="alert alert-success"><a href="javascript:void(0)" onclick="redirectto('devs.cupid.loggerView')">Unity日志查看器</a></div>