<h1 class="page-header">Unity日志查看器</h1>
<div id="loggerView">
	<p>请在Unity下方日志区按Ctrl A，然后右键选择Copy，然后在下边的框体中粘贴出来</p>
	<textarea v-model="log" style="width:100%;height:350px"></textarea>
	<p v-html="goodLog" style="background-color:#111;color:#aaa;width:100%;white-space:pre-wrap"></p>
</div>
