<script>
	import main from "../js/main"
	import _ from "lodash"

	export default {
		el:"#loggerView",
		data:{
			log:""
		},
		computed:{
			goodLog:function(){
				let newlog = ""	
				while (true){
					let ft = this.log.indexOf("<")
					if (ft != -1){
						newlog += this.log.substring(0, ft)

						let lt = this.log.indexOf(">")
						let color = this.log.substring(ft+1, lt)

						if (_.startsWith(color, "color=")){
							newlog += `<span style="color:${color.substring(6, color.length)};">`							
						}else{
							newlog += `</span>`
						}		
															
						this.log = this.log.substring(lt + 1, this.log.length)
					}else{
						newlog += this.log
						break
					}					
				}
				//newlog = newlog.replace(/error/g, "<span style='color:#f00;'>error</span>")
				//newlog = newlog.replace(/warning/g, "<span style='color:#cc3;'>error</span>")
				return newlog
			}
		}
	}
</script>