<template>
	<li><a href="javascript:void(0)" @click="onClick">{{name}}</a></li>
</template>

<script>
	import main from "../js/main"
	export default {
		props:['keyname','name', 'page'],
		methods:{
			onClick:function(event){
				this.$emit("onitemclick", this.keyname)
				main.fetchPage(this.page)
			}
		}
	}
</script>