<script>
	import main from "../js/main"
	import loadSpider from "../js/spider"
	import {loadChess, unloadChess} from "../js/chess/common"
	import comp_logger from "./logger.vue"
	import Vue from "vue"

	let props = ["content", "page", "href", "qid"]
	export default {
			el:"#page",
			data: {
				items:[],
			},
			methods:{			
			},
			components: {
				page_title: {
					props:props,
					template: '<h1 class="page-header" v-html="content"></h1>'
				},
				page_subtitle:{
					props:props,
					template: '<h3 class="sub-header" v-html="content"></h3>'
				},
				page_section: {
					props:props,
					template: '<p style="white-space: pre-wrap" v-html="content"></p>'
					// render:function(createElement){
					// 	return createElement(
					// 		'p',{
					// 			attrs:{
					// 				style:"white-space: pre-wrap",
					// 				what:"123"
					// 			}
					// 		},this.content
					// 	)
					// }
				},
				page_space:{
					props:props,
					template: "<br/>"
				},
				page_code:{
					props:props,
					template: '<pre class="prettyprint linenums">{{content}}<br/></pre>'
				},
				page_link:{
					props:props,
					template: '<a :href="href">{{content}}<br/></a>'
				},
				page_image:{
					props:props,
					template: '<img :src="content" max-width="100%"/><br/>'
				},
				page_page:{
					props:props,
					template: '<a href="javascript:void(0)" @click="onclick">{{content}}<br/></a>',
					methods:{
						onclick:function(){
							main.fetchPage(this.page)
						}
					}
				},
				page_spider:{
					props:props,
					template: '<canvas id="scratch" style="width: 800px; height: 500px; margin-left: auto; margin-right: auto;"></canvas>',
					mounted:function(){
						loadSpider()
					}
				},
				page_chess:{
					props:props,
					template: '<div></div>',
					mounted:function(){
						loadChess()
					},
					destroyed:function(){
						unloadChess()
					}
				},
				page_html:{
					props:props,					
					template: '<div v-html="content"></div>',
					updated:function(){			
						//if (main.lastPage.pageUrl == "devs.cupid.loggerView"){
							new Vue(comp_logger)
						//}else if (main.lastPage.pageurl == "devs.addquest"){
							main.onLoadAddQuest()
						//}else if (main.lastPage.pageurl == "users.home"){
							main.onLoadUserInfo()		
						//}
					},
					mounted:function(){
						//if (main.lastPage.pageUrl == "devs.cupid.loggerView"){
							new Vue(comp_logger)
						//}else if (main.lastPage.pageurl == "devs.addquest"){
							main.onLoadAddQuest()
						//}else if (main.lastPage.pageurl == "users.home"){
							main.onLoadUserInfo()		
						//}
					}
				},
				page_quest:{
					props:props,
					data:function(){
						return {
							answer:"",
							button:true
						}
					},
					template:'<div class="panel panel-default">\
								<div class="panel-heading" v-html="content"></div>\
								<div class="panel-body">\
									<div v-html="answer"></div>\
									<button v-if="button" @click="onclick">点这里查看解答</button>\
								</div></div>',
					methods:{
						onclick:function(){
							main.modalDlg.qid = this.qid
							main.modalDlg.quest = this
							$('#myModal').modal({})
						}
					}
				}
			},
			updated:function(){
				prettyPrint()		
			}
		}
</script>