<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid" id="navtitle">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">起源工作室工作平台</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0)" @click="clickuser">{{realname}}</a></li>
				<li><a href="javascript:void(0)">Help</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>
	

<div class="container-fluid main-page">
	<div class="row" id="mainBody">
		<div class="col-xs-2 sidebar" role="group" aria-label="...">
			<ul class="nav nav-sidebar" id="nav">
				<li is="nav-item" v-for="(item, name) in items" v-if="isShow(name)" :class="{'active':item.active, 'item-sub':item.sub}" @onitemclick="onclick" :keyname="name" :name="item.name" :page="item.page"></li>					
			</ul>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-8 main page" id="page">
			<component :is="item.type" v-for="item in items" :content="item.value" :class="[item.type=='page_code'?item.codetype:'']" :page="item.page" :href="item.href" :qid="item.qid"></component>	
		</div>
	</div>		
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">			
			<div class="modal-body" id="modalDlg">
				请输入密码:
				<input v-model="pwd" placeholder="***">
				<button type="button" class="btn btn-default" data-dismiss="modal" @click="onclick(pwd)">确认</button>
			</div>			
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script src="/js/main.js"></script>