<div class="row" id="mainBody" style="text-align: center">
	<div class="col-xs-4"></div>
	<div class="col-xs-3" id="login">
		<div class="input-group" v-if="!changepwd">
			<span class="input-group-addon btn-default" id="basic-addon1">账号</span>
			<input v-model="user" type="text" class="form-control" placeholder="账号是您姓名的全拼" aria-describedby="basic-addon1">
		</div>
		<div class="input-group" v-if="!changepwd">
			<span class="input-group-addon btn-default" id="basic-addon2">密码</span>
			<input v-model="pwd" type="password" class="form-control" placeholder="默认密码为空" aria-describedby="basic-addon2">
		</div>
		<div class="input-group" v-if="changepwd">
			<span class="input-group-addon btn-default" id="basic-addon3">修改密码</span>
			<input v-model="pwdc1" type="password" class="form-control" placeholder="" aria-describedby="basic-addon2">
		</div>
		<div class="input-group" v-if="changepwd">
			<span class="input-group-addon btn-default" id="basic-addon4">确认密码</span>
			<input v-model="pwdc2" type="password" class="form-control" placeholder="" aria-describedby="basic-addon2">
		</div>
		<br/>
		<button v-if="!changepwd" style="margin: auto" type="button" class="btn btn-default" @click="onlogin">登陆</button>
		<button v-else style="margin: auto" type="button" class="btn btn-default" @click="onchange">修改密码</button>
		<button style="margin: auto" type="button" class="btn btn-default" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="不开放注册">注册</button>
	</div>
	<div class="col-xs-5"></div>	
</div>
<br/><br/>
<div class="row" id="mainBody" style="text-align: center">
	<div class="col-xs-2"></div>
	<div class="col-xs-7">
		<div class="alert alert-info" role="alert">起源工作室人员请使用中文名全拼作为账号登陆，第一次登陆无需输入密码，系统会强制要求您修改密码（请记住此密码）</div>
		<div class="alert alert-info" role="alert">非起源工作室人员 暂时不提供注册服务，请使用公共账号 <code>source/source</code> 浏览 </div>
	</div>	
	<div class="col-xs-2"></div>
</div>


<script src="/js/login.js"></script>
